{% extends 'base.html'%} {% load static %} {% block content %}

<div class="container">
  <br />
  <br />
  <h2><center>About Us</center></h2>
  <br />
  <br />
  <div>
    <p>
      Paulson Electric is a full service electrical contracting company with
      over 150 customer oriented employees serving eastern Iowa, Wisconsin, and
      Illinois from offices in Cedar Rapids, Dubuque, and Waterloo for over 80
      years. Even though Paulson Electric is Iowa based it is not unusual to
      find us doing electrical projects anywhere in the United States.
    </p>
    <p>
      Our mission is to provide the highest quality electrical services with
      dynamic, innovative strategies to meet the customer's unique demands with
      highly trained, goal oriented employees.
    </p>
    <p>
      Safety is extremely important at Paulson Electric and it shows in our
      favorable 0.74 Experience Modification Rating. Paulson Electric's
      employees are fully licensed and bonded. Liability insurance coverage is
      $10 million with bonding capacity in excess of $20 million.
    </p>
  </div>

  <br />
  <br />
</div>

{% endblock %}
