{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="{{ product.image.url }}" alt="" id="magnifine-img" />
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img
                            data-imgbigurl="img/product/details/product-details-2.jpg"
                            src="{{ product.image.url }}" alt="" />
                        <img
                            data-imgbigurl="img/product/details/product-details-3.jpg"
                            src="{{ product.image.url }}" alt="" />
                        <img
                            data-imgbigurl="img/product/details/product-details-5.jpg"
                            src="{{ product.image.url }}" alt="" />
                        <img
                            data-imgbigurl="img/product/details/product-details-4.jpg"
                            src="{{ product.image.url }}" alt="" />
                    </div>
                </div>
                <style>
.megnifire{
    margin-top: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: #fff;
    opacity: 0.5;
    z-index: 1;
}

                    .img-zoom-lens {
                        position: absolute;
                        border: 1px solid #d4d4d4;
                        /*set the size of the lens:*/
                        width: 40px;
                        height: 40px;
                    }

                    .img-zoom-result {
                        border: 1px solid #d4d4d4;
                        /*set the size of the result div:*/
                        width: 300px;
                        height: 300px;
                    }
                </style>
                <script>
                    function imageZoom(imgID, resultID) {
                        var img, lens, result, cx, cy;
                        img = document.getElementById(imgID);
                        result = document.getElementById(resultID);
                        /*create lens:*/
                        lens = document.createElement("DIV");
                        lens.setAttribute("class", "img-zoom-lens");
                        /*insert lens:*/
                        img.parentElement.insertBefore(lens, img);
                        /*calculate the ratio between result DIV and lens:*/
                        cx = result.offsetWidth / lens.offsetWidth;
                        cy = result.offsetHeight / lens.offsetHeight;
                        /*set background properties for the result DIV:*/
                        result.style.backgroundImage = "url('" + img.src + "')";
                        result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
                        /*execute a function when someone moves the cursor over the image, or the lens:*/
                        lens.addEventListener("mousemove", moveLens);
                        img.addEventListener("mousemove", moveLens);
                        /*and also for touch screens:*/
                        lens.addEventListener("touchmove", moveLens);
                        img.addEventListener("touchmove", moveLens);
                        function moveLens(e) {
                            var pos, x, y;
                            /*prevent any other actions that may occur when moving over the image:*/
                            e.preventDefault();
                            /*get the cursor's x and y positions:*/
                            pos = getCursorPos(e);
                            /*calculate the position of the lens:*/
                            x = pos.x - (lens.offsetWidth / 2);
                            y = pos.y - (lens.offsetHeight / 2);
                            /*prevent the lens from being positioned outside the image:*/
                            if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
                            if (x < 0) {x = 0;}
                            if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
                            if (y < 0) {y = 0;}
                            /*set the position of the lens:*/
                            lens.style.left = x + "px";
                            lens.style.top = y + "px";
                            /*display what the lens "sees":*/
                            result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
                        }
                        function getCursorPos(e) {
                            var a, x = 0, y = 0;
                            e = e || window.event;
                            /*get the x and y positions of the image:*/
                            a = img.getBoundingClientRect();
                            /*calculate the cursor's x and y coordinates, relative to the image:*/
                            x = e.pageX - a.left;
                            y = e.pageY - a.top;
                            /*consider any page scrolling:*/
                            x = x - window.pageXOffset;
                            y = y - window.pageYOffset;
                            return {x : x, y : y};
                        }
                    }
                </script>
                <div class="megnifire">
                    <div id="myresult" class="img-zoom-result"></div>
                </div>
                <script>
                    imageZoom("magnifine-img", "myresult");
                </script>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3> {{ product.tname }} </h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">{{ product.price }}</div>
                    <p>
                        {{ product.description }}
                    </p>
                    <a class="primary-btn update-cart" data-productid="{{ product.pid }}" data-action="add">ADD TO CARD</a>
                    <a class="heart-icon update-fav" data-action="add" data-productid="{{ product.pid }}"
                                                                       ><span class="icon_heart_alt"></span
                                                                       ></a>
                    <ul>
                        <li><b>Availability</b> <span> {% if product.available %} In Stock {% else %} Out of Stock {% endif %} </span></li>
                        <li>
                            <b>Shipping</b>
                            <span>03 day shipping. <samp>Free pickup today</samp></span>
                        </li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                data-toggle="tab"
                                href="#tabs-1"
                                role="tab"
                                aria-selected="true"
                                >Description</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                data-toggle="tab"
                                href="#tabs-2"
                                role="tab"
                                aria-selected="false"
                                >Information</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                data-toggle="tab"
                                href="#tabs-3"
                                role="tab"
                                aria-selected="false"
                                >Reviews <span>(1)</span></a
                            >
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    Vestibulum ac diam sit amet quam vehicula elementum sed
                                    sit amet dui. Pellentesque in ipsum id orci porta dapibus.
                                    Proin eget tortor risus. Vivamus suscipit tortor eget
                                    felis porttitor volutpat. Vestibulum ac diam sit amet quam
                                    vehicula elementum sed sit amet dui. Donec rutrum congue
                                    leo eget malesuada. Vivamus suscipit tortor eget felis
                                    porttitor volutpat. Curabitur arcu erat, accumsan id
                                    imperdiet et, porttitor at sem. Praesent sapien massa,
                                    convallis a pellentesque nec, egestas non nisi. Vestibulum
                                    ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Vestibulum ante ipsum primis in faucibus orci luctus et
                                    ultrices posuere cubilia Curae; Donec velit neque, auctor
                                    sit amet aliquam vel, ullamcorper sit amet ligula. Proin
                                    eget tortor risus.
                                </p>
                                <p>
                                    Praesent sapien massa, convallis a pellentesque nec,
                                    egestas non nisi. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Mauris blandit aliquet elit, eget
                                    tincidunt nibh pulvinar a. Cras ultricies ligula sed magna
                                    dictum porta. Cras ultricies ligula sed magna dictum
                                    porta. Sed porttitor lectus nibh. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Sed
                                    porttitor lectus nibh. Vestibulum ac diam sit amet quam
                                    vehicula elementum sed sit amet dui. Proin eget tortor
                                    risus.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    Vestibulum ac diam sit amet quam vehicula elementum sed
                                    sit amet dui. Pellentesque in ipsum id orci porta dapibus.
                                    Proin eget tortor risus. Vivamus suscipit tortor eget
                                    felis porttitor volutpat. Vestibulum ac diam sit amet quam
                                    vehicula elementum sed sit amet dui. Donec rutrum congue
                                    leo eget malesuada. Vivamus suscipit tortor eget felis
                                    porttitor volutpat. Curabitur arcu erat, accumsan id
                                    imperdiet et, porttitor at sem. Praesent sapien massa,
                                    convallis a pellentesque nec, egestas non nisi. Vestibulum
                                    ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Vestibulum ante ipsum primis in faucibus orci luctus et
                                    ultrices posuere cubilia Curae; Donec velit neque, auctor
                                    sit amet aliquam vel, ullamcorper sit amet ligula. Proin
                                    eget tortor risus.
                                </p>
                                <p>
                                    Praesent sapien massa, convallis a pellentesque nec,
                                    egestas non nisi. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Mauris blandit aliquet elit, eget
                                    tincidunt nibh pulvinar a. Cras ultricies ligula sed magna
                                    dictum porta. Cras ultricies ligula sed magna dictum
                                    porta. Sed porttitor lectus nibh. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    Vestibulum ac diam sit amet quam vehicula elementum sed
                                    sit amet dui. Pellentesque in ipsum id orci porta dapibus.
                                    Proin eget tortor risus. Vivamus suscipit tortor eget
                                    felis porttitor volutpat. Vestibulum ac diam sit amet quam
                                    vehicula elementum sed sit amet dui. Donec rutrum congue
                                    leo eget malesuada. Vivamus suscipit tortor eget felis
                                    porttitor volutpat. Curabitur arcu erat, accumsan id
                                    imperdiet et, porttitor at sem. Praesent sapien massa,
                                    convallis a pellentesque nec, egestas non nisi. Vestibulum
                                    ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Vestibulum ante ipsum primis in faucibus orci luctus et
                                    ultrices posuere cubilia Curae; Donec velit neque, auctor
                                    sit amet aliquam vel, ullamcorper sit amet ligula. Proin
                                    eget tortor risus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->


{% endblock content %}
