

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>status</title>
        <link
            rel="stylesheet"
            href="{% static 'css/style2.css' %}"
            type="text/css"
            media="screen"
            title="no title"
            charset="utf-8"
            />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            type="text/css"
            media="screen"
            title="no title"
            charset="utf-8"
            />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            type="text/css"
            media="screen"
            title="no title"
            charset="utf-8"
            />
    </head>
    <body>
        <div class="container">
            <div class="container px-1 px-md-4 py-5 mx-auto">
                <div class="card">
                    <div class="row d-flex justify-content-between px-3 top">
                        <div class="d-flex">
                            <h5>
                                ORDER
                                <span class="text-primary font-weight-bold">#{{ id }} </span>
                            </h5>
                        </div>
                        <div class="d-flex flex-column text-sm-right">
                            <p class="mb-0">Expected Arrival <span>{{ date }}</span></p>
                        </div>
                    </div>
                    <!-- Add class 'active' to progress -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <ul id="progressbar" class="text-center">
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-between top">
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/9nnc9Et.png" />
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br />Processed</p>
                            </div>
                        </div>
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/u1AzR7w.png" />
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br />Shipped</p>
                            </div>
                        </div>
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/TkPm63y.png" />
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br />En Route</p>
                            </div>
                        </div>
                        <div class="row d-flex icon-content">
                            <img class="icon" src="https://i.imgur.com/HdsziHP.png" />
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Order<br />Arrived</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="{% url 'order_details' %}" class="btn btn-success">Back</a>
                            <a id="order_cancel"  class="btn btn-success">Cancel Order</a>
                            <a href="{% url 'order_feedback' id %}" id="feedback" class="btn btn-success"> Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //csrf token
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <span id="status" hidden>{{ status }}</span>
        <script src="{% static 'js/myjs.js' %}"></script>
        <script>
            statusbar()
            $("#order_cancel").click(function(){

                swal({
                    title: "Are you sure?",
                    text: "Once canceled, you will not be able to recover this order!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if(willDelete){
                        swal(
                        "Your order has been canceled!", {
                            icon: "success",
                        });
                        $.ajax({
                            url: "{% url 'order_cancel' id  %}",
                            type: "POST",

                            data: {
                                "csrfmiddlewaretoken": csrftoken,
                                id: $("#status").text(),
                            },
                            success: function(response) {
                                console.log(response);

                                window.location.href = "{% url 'order_details' %}";
                            }
                        });
                    } else {
                        swal("Your order is safe!");
                    }
                });});
            var status = document.getElementById("status").innerText;
            var bar = document.getElementById("progressbar");
            if (status == "RECIVED") {
                document.getElementById("order_cancel").style.display = "none";
                d0 = document.getElementsByClassName("buttons");
                //creat a link with class btn btn-success
                var btn = document.createElement("a");
                //set id name download
                btn.id = "download";
                btn.classList.add("btn");
                btn.classList.add("btn-success");
                //name it download receipt
                btn.innerText = "Download Receipt";
                //call download function in onclick
                //append the link to the div
                d0[0].appendChild(btn);}

            $("#download").click(function(){
                window.location.href = "{% url 'download' id %}";
            });
        </script>
    </body>
</html>
